@model DataAccessLayer.Models.AttemptEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AttemptEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttemptNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttemptNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeEnded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeEnded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestEntity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestEntity.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.uuid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
