@using DataAccessLayer.Enums
@model IEnumerable<BusinessLayer.ViewModels.QuestionViewModel>

<p>
    <a asp-route="tests-questions-create-by-classroom-get" asp-route-classroomPk="@ViewBag.ClassroomId" asp-route-testPk="@ViewData["testId"]">Create New</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InnerOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrectNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrectShortText)
        </th>
        <th>
            Options count
        </th>
        <th>
            Options
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InnerOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @if (item.Type == QuestionType.NumericalInput){
                    @Html.DisplayFor(modelItem => item.CorrectNumber)
                }
            </td>
            <td>
                @if (item.Type == QuestionType.ShortText)
                {
                    @Html.DisplayFor(modelItem => item.CorrectShortText)
                }
            </td>
            <td>
                @if (item.Type is QuestionType.MultipleChoice or QuestionType.SingleChoice)
                {
                    @item.ChoiceOptions.Count
                }
            </td>
            <td>
                @if (item.Type is QuestionType.MultipleChoice or QuestionType.SingleChoice)
                {
                    
                }
            </td>

            @if (!@ViewData.ContainsKey("delete") || @ViewData["delete"] is not bool || (bool) (@ViewData["delete"] ?? false) == false)
            {
                <td>
                        <a asp-route="tests-questions-edit-by-classroom-get" asp-route-classroomPk="@ViewBag.ClassroomId" asp-route-testPk="@ViewData["testId"]" asp-route-id="@item.Id">Edit</a> |
                        <a asp-route="tests-questions-details-by-classroom" asp-route-classroomPk="@ViewBag.ClassroomId" asp-route-testPk="@ViewData["testId"]" asp-route-id="@item.Id">Details</a> |
                        <a asp-route="tests-questions-delete-by-classroom-get" asp-route-classroomPk="@ViewBag.ClassroomId" asp-route-testPk="@ViewData["testId"]" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
